.cta-hero {
  width: 100%;
  background-image: url('../images/mobile-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__content-wrapper {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.header__title {
  color: var(--dark);
  margin: 0;
}

.header__button {
  width: 131px;
  height: 41px;
  border-radius: 11.4px;
  font-size: 0.56rem;
  border: none;
  font-weight: bold;
  font-family: var(--font-secondary);
  background-color: var(--blush-blue);
  color: var(--white);
}

.cta-hero__content-wrapper {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5em;
}

.cta-hero__title {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: var(--font-secondary);
  color: var(--dark);
  margin: 0;
}

.cta-hero__list {
  list-style: none;
  align-self: start;
  margin-left: 2.5em;
  margin-top: 2em;
}

.cta-hero__list-item {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
  color: var(--grey);
  margin-bottom: 1.25rem;
}

.fa-li {
  background: var(--light-green);
  font-family: var(--font-primary);
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}

.fa-check {
  border-radius: 50%;
  font-size: 1rem;
  color: var(--green);
}

.cta-hero__text {
  color: var(--grey);
  font-family: var(--font-primary);
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 300;
  margin: 0.5em 0 2em 0;
}

.btn-blue {
  align-self: start;
}

.cta-hero__price {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.22;
  align-self: start;
  color: var(--grey);
}

.cta-hero__app {
  grid-column: 2 / -2;
  margin: 2.5em auto 10em auto;
}

@media (max-width: 360px) {
  .header__title {
    font-size: 1rem;
  }

  .header__button {
    width: 100px;
  }

  .cta-hero__title {
    font-size: 1.5rem;
  }

  .cta-hero__list {
    font-size: 1rem;
    margin-left: 1.75em;
  }

  .fa-li {
    width: 20px;
    height: 20px;
  }

  .fa-check-circle {
    font-size: 1.5rem;
  }

  .cta-hero__list-item {
    font-size: 1rem;
  }

  .cta-hero__text {
    font-size: 1rem;
  }

  .btn-blue {
    width: 200px;
    height: 65px;
  }

  .cta-hero__price {
    font-size: 1rem;
  }
}
