.header__content-wrapper {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: var(--dark);
}

.header__button {
  width: 131px;
  height: 41px;
  border-radius: 11.4px;
  font-size: 0.56rem;
  border: none;
  font-weight: bold;
  font-family: var(--font-secondary);
  background-color: var(--blush-blue);
  color: var(--white);
}

.cta-hero {
  width: 375px;
  height: 1299px;
  background-image: url('../images/mobile-bg.jpg');
}

.cta-hero__content-wrapper {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cta-hero__title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: var(--font-secondary);
  color: var(--dark);
}

.cta-hero__app {
  grid-column: 2 / -2;
  margin: 0 auto;
}
