.data {
  padding: 9.625em 0 4.75em 0;
}

.data > * {
  grid-column: 2 / -2;
}

.data__app-image {
  margin: 0 auto 6.75em auto;
}

.data__title {
  margin: 0;
}

.data__text {
  font-family: var(--font-primary);
  margin: 2em 0;
  font-size: 1rem;
  line-height: 2;
  text-align: left;
  color: var(--grey);
}

.data__bullets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data__bullet--description {
  font-size: 1rem;
  line-height: 2;
  margin-left: 2.3125em;
  color: var(--grey);
}
