.data {
  padding: 9.625em 0 4.75em 0;
}

.data > * {
  grid-column: 2 / -2;
}

.data__image-wrapper {
  grid-column: 2 / -2;
  width: 291.97px;
  margin: 0 auto 6.75em auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.data__app-image {
  margin: 0 auto;
  border-bottom-right-radius: 30px;
}

.data__title {
  margin: 0;
}

.data__text {
  font-family: var(--font-primary);
  margin: 2em 0;
  font-size: 1rem;
  line-height: 2;
  text-align: left;
  color: var(--grey);
}

.data__bullets {
  display: flex;
  flex-direction: row;
}

.data__bullet--description {
  font-size: 1rem;
  line-height: 2;
  margin-left: 2.3125em;
  color: var(--grey);
}

.data__red-dot-left {
  position: absolute;
  width: 12.22px;
  height: 12.22px;
  transform: translate(0%, 250%);
}

.data__red-dot-right {
  align-self: flex-end;
  position: absolute;
  width: 12.22px;
  height: 12.22px;
  transform: translate(-110%, 2250%);
}

.data__circle {
  position: absolute;
  width: 167.5px;
  height: 167.5px;
  z-index: -1;
  transform: translate(5%, 25%);
}

.data__quater-circle {
  align-self: flex-end;
  position: absolute;
  width: 100.4px;
  height: 99.8px;
  z-index: -1;
  transform: translate(0%, 105%);
}

.data__lines {
  align-self: flex-end;
  position: absolute;
  width: 97.1px;
  height: 97.7px;
  z-index: -1;
  transform: translate(0%, 375%);
}

@media (max-width: 359px) {
  .data__red-dot-left,
  .data__red-dot-right,
  .data__circle,
  .data__quater-circle,
  .data__lines {
    display: none;
  }

  .data__image-wrapper {
    width: auto;
  }
}

@media (min-width: 950px) {
  .data {
    padding-right: 1em;
    padding-top: 0;
  }

  .data__image-wrapper {
    grid-column: 2 / 4;
    grid-row: 1 / 9;
    margin: 0 auto;
    width: 425px;
  }

  .data__app-image {
    height: 532px;
    margin: 0 auto;
    border-bottom-right-radius: 45px;
  }

  .data__title {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    font-family: var(--font-secondary);
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }

  .data__text {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
  }

  .data__bullets {
    justify-content: start;
    max-width: 435px;
  }

  .checkmark-icon {
    padding-bottom: 2.75em;
  }

  .bullet-one {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
  }

  .bullet-two {
    grid-column: 4 / 6;
    grid-row: 5 / 6;
  }

  .bullet-three {
    grid-column: 4 / 6;
    grid-row: 6 / 7;
  }

  .data__bullet--description {
    font-size: 1rem;
    margin-left: 2em;
  }

  .desc-one {
    margin-top: 0;
  }

  .desc-three {
    margin-top: 0;
  }

  .data__red-dot-left {
    align-self: flex-start;
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: translate(45%, 250%);
  }

  .data__red-dot-right {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: translate(-150%, 1400%);
  }

  .data__circle {
    align-self: flex-start;
    position: absolute;
    display: inline-block;
    width: 167.5px;
    height: 167.5px;
    z-index: -1;
    transform: translate(25%, 45%);
  }

  .data__quater-circle {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 100.4px;
    height: 99.8px;
    z-index: -1;
    transform: translate(-35%, 135%);
  }

  .data__lines {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 97.1px;
    height: 97.7px;
    z-index: -1;
    transform: translate(-25%, 475%);
  }
}

@media (min-width: 1250px) {
  .data__title {
    font-size: 3.75rem;
    margin-left: 1.25em;
  }

  .data__image-wrapper {
    width: 544px;
    height: 974px;
    justify-self: flex-start;
    margin-left: 1em;
  }

  .data__app-image {
    height: 832px;
    border-bottom-right-radius: 50px;
  }

  .data__text {
    margin: 2.5625em 0;
  }

  .data__bullets {
    margin: 0.5em 0;
  }

  .checkmark-icon {
    width: 56px;
    height: 56px;
    padding: 0;
  }

  .data__title,
  .data__text,
  .data__bullets {
    max-width: 533px;
  }

  .data__text,
  .data__bullets {
    margin-left: 5em;
  }

  .data__red-dot-left {
    align-self: flex-start;
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: translate(0%, 250%);
  }

  .data__red-dot-right {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: translate(-110%, 2250%);
  }

  .data__circle {
    align-self: flex-start;
    position: absolute;
    display: inline-block;
    width: 312px;
    height: 312px;
    z-index: -1;
    transform: translate(5%, 25%);
  }

  .data__quater-circle {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 187px;
    height: 186px;
    z-index: -1;
    transform: translate(0%, 105%);
  }

  .data__lines {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 181px;
    height: 182px;
    z-index: -1;
    transform: translate(0%, 375%);
  }
}
