.data {
  padding: 9.625em 0 4.75em 0;
}

.data > * {
  grid-column: 2 / -2;
}

.data__image-wrapper {
  grid-column: 2 / -2;
  width: 291.97px;
  margin: 0 auto 6.75em auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.data__app-image {
  margin: 0 auto;
}

.data__title {
  margin: 0;
}

.data__text {
  font-family: var(--font-primary);
  margin: 2em 0;
  font-size: 1rem;
  line-height: 2;
  text-align: left;
  color: var(--grey);
}

.data__bullets {
  display: flex;
  flex-direction: row;
}

.data__bullet--description {
  font-size: 1rem;
  line-height: 2;
  margin-left: 2.3125em;
  color: var(--grey);
}

.data__red-dot-left {
  position: absolute;
  width: 12.22px;
  height: 12.22px;
  transform: translate(0%, 250%);
}

.data__red-dot-right {
  align-self: flex-end;
  position: absolute;
  width: 12.22px;
  height: 12.22px;
  transform: translate(-110%, 2250%);
}

.data__circle {
  position: absolute;
  width: 167.5px;
  height: 167.5px;
  z-index: -1;
  transform: translate(5%, 25%);
}

.data__quater-circle {
  align-self: flex-end;
  position: absolute;
  width: 100.4px;
  height: 99.8px;
  z-index: -1;
  transform: translate(0%, 105%);
}

.data__lines {
  align-self: flex-end;
  position: absolute;
  width: 97.1px;
  height: 97.7px;
  z-index: -1;
  transform: translate(0%, 375%);
}

@media (max-width: 359px) {
  .data__red-dot-right {
    grid-column: 1 / 2;
    justify-self: end;
    transform: translateY(-11200%);
  }

  .data__red-dot-left {
    grid-column: 3 / 4;
    justify-self: start;
    transform: translateY(-7500%);
  }

  .data__circle,
  .data__quater-circle,
  .data__lines {
    visibility: hidden;
  }
}

// @media (min-width: 400px) {
//   .data__red-dot-left {
//     transform: translateY(-8000%);
//   }

//   .data__red-dot-right {
//     transform: translateY(-10000%);
//   }

//   .data__circle {
//     transform: translateY(-725%);
//   }

//   .data__quater-circle {
//     transform: translateY(-1350%);
//   }

//   .data__lines {
//     transform: translate(-25%, -1225%);
//   }
// }

// @media (min-width: 414px) {
//   .data__red-dot-left {
//     transform: translateY(-7500%);
//   }

//   .data__red-dot-right {
//     transform: translateY(-9600%);
//   }

//   .data__circle {
//     transform: translate(15%, -700%);
//   }

//   .data__quater-circle {
//     transform: translate(-10%, -1300%);
//   }

//   .data__lines {
//     transform: translate(-25%, -1175%);
//   }
// }

@media (min-width: 768px) {
  .data__app-image {
    grid-column: 2 / 4;
    grid-row: 1 / 9;
    height: 632px;
  }

  .data__title {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
  }

  .data__text {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
  }

  .bullet-one {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
  }

  .bullet-two {
    grid-column: 4 / 6;
    grid-row: 5 / 6;
  }

  .bullet-three {
    grid-column: 4 / 6;
    grid-row: 6 / 7;
  }
}

@media (min-width: 950px) {
  .data {
    padding-right: 1em;
  }

  .data__app-image {
    height: 732px;
  }

  .data__title {
    font-family: var(--font-secondary);
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }

  .data__bullets {
    justify-content: start;
    max-width: 435px;
  }

  .checkmark-icon {
    padding-bottom: 2.75em;
  }

  .data__bullet--description {
    font-size: 1rem;
    margin-left: 2em;
  }

  .desc-one {
    margin-top: 0;
  }

  .desc-three {
    margin-top: 0;
  }
}

@media (min-width: 1250px) {
  .data__title {
    font-size: 3.75rem;
  }

  .data__app-image {
    height: 832px;
  }

  .data__text {
    margin: 2.5625em 0;
  }

  .data__bullets {
    margin: 0.5em 0;
  }
}
