.footer {
  background: var(--light-grey);
  padding: 4em 0 2.625em 0;
}

.footer > * {
  grid-column: 2 / -2;
}

.footer__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 1.6em;
}

.footer__adress {
  font-family: var(--secondary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  color: var(--grey);
}

.footer__support {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  color: var(--grey);
}

.footer__email {
  padding: 0 0 2em 0;
  border-bottom: 1px solid #e3e6e9;
}

.footer__phone,
.footer__email {
  font-size: 1rem;
  line-height: 2;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin: 0;
  font-family: var(--secondary);
}

@media (min-width: 768px) {
  .footer {
    padding: 4em 0.5em 2.625em 0.5em;
  }
}
