:root {
  --dark: #333;
  --grey: #858a8f;
  --light-grey: #f5f6fa;
  --white: #fff;
  --purple: #5956e9;
  --red: #fe5372;
  --yellow: #edcf5b;
  --braun: #eaae38;
  --light-green: #eafaf3;
  --green: #2dca8c;
  --light-blue: #e5f1ff;
  --blush-blue: #3892d5;
  --dark-blue: #333bff;
  --türkis: #76ddff;
  --stroke: #a9e1f3;
  --mobile-bg: linear-gradient(to top, #f3e7e9, #e3eeff, #e3eeff);
}
